

.carousel-inner{
    width: 800px;
    margin-left: 50px;
}

.carousel-indicators{
    width: 700px;
    margin-top: 80px;
}

.card{
    margin-left: 60px;
    margin-top: 15px;
}

.text{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.row{
    margin-left: 90px;
}

.part{
    justify-content: center;
}

.title{
    margin-top: 70px;
    margin-left: 50px;
    margin-bottom: 90px;
}




